.navbar, .navbar-brand {
    height: 100px;
    margin: auto;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.container {
    margin-top: 80px;
}

.btn-primary {
    margin: auto;
    height: 100px;
    margin-top: 30px;
}

#spell-data {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 800px;
}