.navbar, .navbar-brand {
    height: 100px;
    margin: auto;
    color: black !important;
    text-align: center;
    width: 100%;
    padding-top: 18px;
}

.container {
    color: black;
    margin-top: 80px;
}

.btn-lg {
    color: black;
    margin: auto;
    height: 100px;
    margin-top: 30px;
}

#spell-data, #spell-wrapper {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 800px;
}

#warning {
    width: 100%;
    text-align: center;
}

.invalid-feedback {
    display: none;
    margin-left: 10px;
}

#submit {
    margin-top: 10px;
}

.form-group {
    width: 800px;
}

a {
    color: white;
}